header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100vw;
}

h1 {
  font-size: 3rem;
}

.nav_menu {
  width: 80vw;
  display: flex;
  position: fixed;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logobar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  grid-column: 1 / 3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
