main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.load_more_products {
  grid-column: 1 /2;
}

.Product_List {
  grid-column: 1 /2;
}

.Basket {
  grid-column: 2 /3;
}

img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

li {
  list-style: none;
}

.product {
  border-radius: 5px;
  box-shadow: 10px 10px 20px #dfdfdf;

  margin-bottom: 1rem;
  padding: 1rem;
  /* background-color: #f2f2f2; */
}

.onsale {
  animation-duration: 1s;
  animation-name: onsaleblink;
  animation-iteration-count: infinite;
}

@keyframes onsaleblink {
  from {
    background: yellow;
  }

  to {
    background: #f2f2f2;
  }
}
